/ckpts/
*.o
*.so
*.pyc
work_dirs
projects/mmdet3d_plugin.egg-info/
projects/flashocc_plugin.egg-info/
nuscenes
ckpt
projects/build
mmdetection3d
*debug.py
launch.json
ckpts
mmdeploy
mmdeploy_study
data/
*old*
build-old
ppl.cv
.vscode